@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
}

:root {
  --background: 220 20% 96%;
  --foreground: 225 12% 10%;
  --primary: 345 84% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 241 83% 21%;
  --secondary-foreground: 0 0% 100%;
  --muted: 220 18% 94%;
  --muted-foreground: 225 12% 30%;
  --accent: 241 83% 21%;
  --accent-foreground: 0 0% 100%;
  --destructive: 345 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 220 18% 72%;
  --input: 220 12% 98%;
  --ring: 345 84% 63%;
  --card: 0 0% 100%;
  --card-foreground: 225 12% 10%;
}

.dark {
  --background: 231 38% 8%;
  --foreground: 210 16% 96%;
  --primary: 345 84% 61%;
  --primary-foreground: 0 0% 100%;
  --secondary: 232 62% 45%;
  --secondary-foreground: 0 0% 100%;
  --muted: 231 30% 14%;
  --muted-foreground: 220 18% 76%;
  --accent: 232 62% 45%;
  --accent-foreground: 0 0% 100%;
  --destructive: 345 84% 68%;
  --destructive-foreground: 0 0% 100%;
  --border: 232 35% 18%;
  --input: 231 32% 18%;
  --ring: 345 84% 63%;
  --card: 231 32% 16%;
  --card-foreground: 210 16% 96%;
}